{% form_theme form 'form_layout.html.twig' %}

{% if form |default(null) %}
<div class="image-cropper">
    <div>
        {% if label is defined %}<label>{{ label }}</label>{% endif %}
        <span class="cropit-select-image btn btn-small white grey-text mb-15 ml-15">Parcourir</span>
    </div>
    {{ form_errors(form.file) }}
    <!-- Preview is relative positioned -->
    <!-- Add a wrapper if you need to absolute position it -->
    <div class="cropit-preview">
    </div>
    <!-- Zoom slider -->
    <input type="range" class="cropit-image-zoom-input"/>
    <div class="hidden">
        <!-- File selector -->
        {{ form_widget(form.file) }}
        {{ form_row(form.imageType) }}
        {{ form_row(form.updatedAt) }}
        {{ form_rest(form) }}
    </div>
</div>
{% endif %}